.fondoImagen {
  background-image: url("./img/Netflix-Background.jpg");
  width: 100%;
}

.fondoNavbar {
  background: rgba(0, 0, 0, 0.5);
}

.unlimited {
  font-size: 55px;
  line-height: 100%;
}

.marginBottom {
  margin-bottom: 100px;
}

#enjoy {
  background: black;
}
#download {
  background: black;
}
#watch {
  background: black;
}
#questions {
  background: black;
}
#footer {
  background: black;
}
#enjoy h1 {
  font-size: 50px;
}

.anchoPreguntas{
  width: 50%;
}

.parrafoQuestions {
  text-align: justify;
}

@media (max-width: 550px) {
  .unlimited {
    font-size: 30px;
  }
  .watch {
    font-size: 18px;
  }
  .ready {
    font-size: 19px;
    line-height: 120%;
  }
  #enjoy h1 {
    font-size: 30px;
  }
  

  #enjoy h4 {
    font-size: 18px;
  }


  #questions p{
    font-size: 16px;
  }

  #questions h4{
    font-size: 14px;
  }
  .anchoPreguntas{
    width: 90%;
  }

  #footer div div p{
    text-align: center;
    font-size: 20px;
  }

  #links a{
    font-size: 10px;
  }
  
}




@media (max-width: 1024px) {
  #download {
    text-align: center;
  }
  #watch {
    text-align: center;
  }
  /*#questions p{
    font-size: 30px;
  }*/
  
  .anchoPreguntas{
    width: 70%;
  }

  #footer div div p{
    text-align: center;
    font-size: 20px;
  }

  
}

@media (min-width: 768px) {
  .unlimited {
    font-size: 50px;
  }

  
}
@media (min-width: 1024px) {
  .unlimited {
    font-size: 60px;
  }
  #questions p{
    font-size: 40px;
  }
  #footer div div p{
    text-align: center;
    font-size: 30px;
  }

}
@media (min-width: 1980px) {
  .unlimited {
    font-size: 65px;
  }
}
